.main {
  padding: 1.2rem;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__imgContainer {
    @media (min-width: 768px) {
      margin-right: 5rem;
    }

    @media (min-width: 1000px) {
      margin-right: 10rem;
    }
  }

  &__img {
    max-width: 400px;

    @media (min-width: 768px) {
      width: 30rem;
      height: 30rem;
    }
  }

  &__title {
    @media (min-width: 768px) {
      max-width: 450px;
    }
  }

  &__paragraph {
    margin: 1.2rem 0;

    @media (min-width: 768px) {
      max-width: 450px;
    }
  }
}
